<h1 align="center">Gmail-Like</h1>

<div class="container d-flex">
  <div class="row">
      <div class="col-4">
          <h3 class=>Liste des emails</h3>
            <div class="list-group">
              <ul id="email-list align-text-left">
              <li></li>
            </div>
      </div>

      <div class="col-8">
        <h3 class=>Email sélectionné</h3>
          <div id="email_show">
          </div>
      </div>
  </div>
</div>