<h1 align="center">Gmail-Like</h1>

  <%= form_with(url: emails_path, method: :post, class:"btn btn-secondary btn-lg") do %>
    <%= submit_tag('Recevoir un E-mail!') %>
  <% end %>

<div class="container row d-flex">
      <div class="col-4">
          <h3 class=>Liste des emails</h3>
          <div id="List-create">
            <% @emails.each do |email| %>
            <div class="row">
              <p><%= link_to "#{email.object}", email_path(email.id), remote: true %></p>
          </div>
               <% end %> 
          </div>                    
      </div>
  
      <div class="col-8">
        <h3 class=>Email sélectionné</h3>
          <div id="email_show">

          </div>
      </div>
  </div>
</div>